@import '../../sass/abstracts/variables';

.cart {
  position: relative;

  &__count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    top: 0.3rem;
    left: 52.2%;
    background-color: #a52a2a;
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__link {
    background-color: #a52a2a;
    border-radius: .4rem;
    box-shadow: 0 0 .3rem $default-color-dark;
    height: 5rem;
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .7rem;
  }

  &__empty {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
  }
}