main {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.gallery {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and ( max-width: 375px ) {
    width: 100%;
  }
}
