.details-wrapper {
  min-height: 83.1vh;
  // display: flex;

  // &__gallery {
  //   flex: 0 0 40%;
  //   padding: 2.5rem;

  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  // }

  &__item {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }


}

.description {
  font-weight: bolder !important;
}