@import '../../../sass/abstracts/variables';

.my-card-img {
  height: 22.5rem !important;
}

.price {
  color: #f49a0b !important;
}

.card__link,
.card__link:visited,
.card__link:active {
  text-decoration: none;
  color: $default-color-dark; 
}
